{{#> main}}
  {{#*inline "content"}}
    <h1>Esqueci minha senha</h1>
    <form id="forgotPasswordForm">
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit">Enviar link de recuperacão</button>
    </form>
    <script src="/scripts/forgot-password.js"></script>
  {{/inline}}
{{/main}}
