{{#> main}}
  {{#*inline "content"}}
    <h1>Nova senha</h1>
    <form id="resetPasswordForm" data-token="{{token}}">
      <input type="password" name="password" placeholder="Nova senha" required>
      <button type="submit">Salvar senha</button>
    </form>
    <script src="/scripts/reset-password.js"></script>
  {{/inline}}
{{/main}}
